.doctor-detail-container {
    width: 80%;
    margin: 78px auto 0 auto;
    padding: 10px;

    .intro-doctor {
        display: flex;
        height: 120px;
        gap: 10px;


        .content-left {
            width: 120px;
            display: flex;
            margin-left: 20px;


            .content-image {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top;
                margin: auto auto;


            }

        }

        .content-right {
            width: 100%;
            display: flex;
            flex-direction: column;

            .up {
                font-weight: bold;
                font-size: 25px;
            }

            .down {
                margin-top: 5px;
            }
        }

    }

    .schedule-doctor {
        display: flex;
        gap: 20px;

        .content-left {
            width: 50%;
        }

        .content-right {
            width: 50%;
        }
    }

    .detail-info-doctor {
        padding-top: 20px;
        margin-top: 20px;
        border-top: 1px solid #ddd;

        img {
            width: 100%;
        }
    }
}