.doctor-schedule-container {
    .all-schedule {

        .select-day {
            padding-bottom: 5px;
            border: none;
            outline: none;
            color: #347ab8;
            font-weight: bold;
            border-bottom: 1px solid #ddd;
            text-transform: capitalize;

            .range-time {
                height: 100px;
            }
        }

        .text-calendar {
            margin-top: 10px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .time-content {
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            button {
                min-width: 150px;
                border: transparent 2px solid;
                padding: 8px;
                font-weight: bold;


                &:hover {
                    border: #347ab8 2px solid;
                }
            }
        }

        .contact {
            margin-top: 10px;
        }
    }
}